<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/register-login.css">
        <title>Register | TODO List</title>
    </head>
    <body>
        <div class="container">
            <div class="reg-block">
                <h1 style="line-height: 25px">Register<br><small style="font-size: 16px">TODO list</small></h1>
                <div class="register-box">
                    <form action="/register" method="POST">
                        <label for="user">Username:</label><br>
                        <input type="text" id="user" name="user"><br>
                        <label for="pass">Password:</label><br>
                        <input type="password" id="pass" name="pass">
                        <input type="submit" value="Register">
                    </form>
                    <small>Do you have an account? <a href="/login">Login</a> here.<br></small>
                    <small>Go to <a href="/todo">TODO list</a></small>
                </div>
            </div>
        </div>
    </body>
</html>